{% extends "layout.html" %}
{% block content %}
    {% for game in model.games %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ game.game }}</a>
              <small class="text-muted">{{ game.publisher }}</small>
            </div>
            <!-- <h2><a class="article-title" href="#">{{ game.title }}</a></h2> -->
            <p class="article-content">{{ game.players }}</p>
          </div>
        </article>
    {% endfor %}

{% endblock content%}
